@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins',sans-serif;
  background: url(cube.jpg) no-repeat;
  /*background: white;*/
  /*color: black;*/
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.brand{
  /*margin-top: 5%;*/
  font-size: 35px;
  letter-spacing: 3px;
  animation: cngclr 2s alternate infinite;
  user-select: none;
}
@keyframes cngclr {
  0%{
    color: #d100d1;
    text-shadow: 0 0 5px #d100d1,
                0 0 25px #d100d1;
  }
  100%{
    color: #6fffe9;
    text-shadow: 0 0 5px #6fffe9,
                0 0 10px #6fffe9,
                0 0 25px #6fffe9;
  }
}
.brand:hover{
  text-shadow: 0 0 5px white,
              0 0 25px white;
}

.container{
  margin: auto;
  height: 600px;
  width: 70%;
}

.form_group{
  display: flex;
  height: 20%;
  /* width: 100%; */
  /*background: yellow;*/
}

form{
  margin-top: 1em;
  margin-right: 1em;
  float: left;
  width: 90%;
}

input {
  color: white;
}

#summarize {
  margin-top: 2.5em;
  width: 100px;
}

.brand:hover{
  border: 0 0 5px white,
              0 0 25px white;
}

#output{
  padding: 7px;
  padding-left: 10px;
  margin-top: -15px;
  margin-bottom: 5px;
  background: white;
  height: 75%;
  display: none;
  scroll-behavior: smooth;
  overflow-y: scroll;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e3dfde;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#link {
  margin-left: 42%;
  opacity: 0;
}